
[submodule "themes/blackburn"]
	path = themes/blackburn
	url = https://github.com/yoshiharuyamashita/blackburn.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
